<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Scavenger</title>

	<link rel="stylesheet" href="style/style.css">
</head>
<body>
<div class="box">
	<img src="assets/logo.png" alt="Scavenger">

	<h3>Welcome to Scavenger.</h3>
	<p>If you're reading this, then you've created a Scavenger project successfully. Congratulations!</p>
	<p>It might be a good idea to check the <a href="https://github.com/misleadingname/scavenger">README</a> for more
		information about the template.</p>
	<p>It is {{ time }}.</p>
</div>
</body>
</html>